grpc spec: Limit metadata keys

As brought up in grpc/grpc-java#824, we need to specify what metadata keys are appropriate. We could allow the full set permitted by HTTP/2. But because we don't have too much time to debate, @louiscryan, @ctiller, and I agreed to limit the initial set we support (because really, who needs percent and back-tick in their metadata key, and is what they're doing a good idea?).

So we should specify in the gRPC spec that we limit ourselves to `ALPHA / DIGIT / "-"` as used in RFC 7230, but defined in RFC 5234 Appendix B.1.

We were all okay with extending the characters permitted later; it would probably be wise for documentation to clearly state that additional characters may be permitted in the future.

Because the permitted characters may be expanded and HTTP _does_ support many more (as defined in RFC 7230 §3.2) it _must not_ be an error to receive headers/trailers with HTTP-permitted characters, even if they are prohibited by gRPC metadata. If such metadata is received I'm okay with leaving it undefined as whether it should be filtered or can be presented to the application. The important piece is that the application can not specify such a key. Note that care should be taken in the case the application copies incoming metadata to an outgoing call; that should not error (and so filtering is safest).

@iamqizhao, FYI.

Let's add '_' to the legal set: we've got a ton of existing practice in our tests already.

I've updated the Java-tracking issue #824 to include underscore.

Resolved by grpc/grpc#3331